# they include API keys
cookie-control.js
deploying_app.R

#Not needed
rsconnect
.Rproj.user
.Rhistory
.Ruserdata
*.Rproj
testing.R

# packrat library folder (automatically added due to packract being initialised)
packrat/lib*/

# 'data' folder #
data/
archive/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS][xXmMtT]?

# SPSS formats #
*.[sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]
*.[rR][dD][aA]
