/* CSS styles used in the shiny app */

.container-fluid {padding: 0;}

/* to avoid red text error messages in the whole app*/
.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; }


/*for introjs sizing */
.newClass {min-width: 50px;max-width: 50px;} 

/* Style sidebars/well panels */
.well {background-color:#ffffff; border: 0 solid #336699;
       padding: 5px; box-shadow: none; }
       
/* Background colour of header navBar */                        

.navbar {font-size: 14px; border: 0} /* font size and border*/

.dropdown-menu { font-size: 14px;} /* dropdown menu within navBar*/


/* make navBar PHS purple*/
.navbar-default {
    background-color: #3f3685;
    margin : 0 !important; 
}


.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  
  
}

.navbar-toggle collapsed{
  background-color:#3f3685;
}

.navbar-default .navbar-toggle {
    background-color: #3f3685;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #3f3685;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}


 .navbar-default .navbar-brand:hover {
    background-color: white;
}                         

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #2e2761;
}



.navbar-nav>.active>a:focus {
  outline: 3px solid orange;
}
                          
/* Padding and margins of filters and labels*/
.form-group {margin: 3px}

.li-custom {margin-bottom: 10px;} /* bullet point list items */

.shiny-options-group { margin-top: 3px; }

.selectize-control { margin-bottom: 3px}

.selectize-input {padding: 3px 3px; min-height: 10px; line-height: 18px;}

.selectize-dropdown {line-height: 18px; }

.control-label { margin-bottom: 1px}
                          
/* Padding of columns*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, 
      .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, 
      .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, 
      .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
      .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
      .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, 
       .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 
           {padding-left: 5px; padding-right: 5px;}

/*Style for download buttons */
.down{ background-color:#4da6ff; color: white; background-image:none; 
       min-width: 23vh;  font-size: 14px; padding: 5px 10px; 
       margin-top: 5px; margin-left: 3px}
       
 /*Colour for disabled download buttons 
 (This must come after .down so it will override background-color) */
.down_disabled{ background-color:#a6a6a6}
                          

               
/* flextable wrapping text*/
.tabwid table {white-space: normal;}
               
/*External links underlined an open a new tab */
.externallink{text-decoration: underline;} 


/* Deprivation boxes text */
.depr-text-box {width:100%; height:100%; background-color:white;
    margin-bottom: 20px; box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    transition: 0.5s ease; }             
.depr-text-box .title{background-color: #4da6ff; color: white;   font-weight:bold;
    font-size: 20px; display:block; line-height:20px; padding: 5px; padding-left: 20px; }
.depr-text-box .content{ color: black; overflow: hidden; padding: 10px; min-height: 0px;}
        
     
        
/* HOMEPAGE STYLING ---------------------*/ 


/* Section 1: (hero.html) */ 

.hero{
  display: flex;
  justify-content: center;
  background-color:#5545a8;
  padding:40px 45px;
}


/* set width of content within hero*/
.hero-inner{
  max-width: 760px;
}


/* formatting the header within hero*/
.hero h1{
  font-size: 36px;
  font-weight: 700;
  color:white;
  }
  
  
/* formatting the sentence/tagline within hero*/
.hero h2{
 color:white;
 font-size: 18px;
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
  }


/* formatting the 2 buttons within hero*/
.button{
  background-color:black;
  color:white;
  text-decoration:none;
  border-style:none;
  padding:12px 20px;
  font-size:1.5rem;
  border-radius: 5px; /* make edges rounded*/
  display:inline-block; /* add more space between button*/
  
}


.links-item > a{
  color:#d2cfeb;
}

.bottom-links > a{
  color:#d2cfeb;
}


.small-card h3{
  font-weight:600;
}

.small-card-inner h4{
  font-weight:600;
}


.the-header h3 {
    font-weight: 600;
    margin-left: 30px;
    font-size: 20px;
}




/* Section 2: features.html */ 

.features{
 padding-top: 15px;
 padding-bottom: 5px;
 flex-direction: column;
 background-color:#f3f2f1;
  
}

.features-inner {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex: 1;
}


/* font style for individual feature headers*/ 
.featured-item h3 {
  color:#283593;
  font-size:1.5rem;
  font-weight:bold;
}


.featured-item {
    display: flex;
    flex:1;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;
}

 /* needs tweaked - overall section header?*/ 
.features-header{
  max-width:1500px;
  margin:0 auto;
  display:grid;
  grid-column-gap: 45px;
}


/* responsive layout - display features top to bottom on smaller screens*/ 
@media (max-width: 800px) {
    .features-inner{
    display: flex;
    flex-direction: column;
  }
}








.h3{

    font-size: 24px;
    color:white;
    font-weight:600;
}

 


/* colour of the feature items font*/ 
a {
    color: black;
}



.header-section{
  display:flex;
}    

@media (max-width: 800px) {
.header-section{
  display:flex;
  flex-direction:row;
}    
}




.the-header{
  margin-right:auto;
} 



.alert-info {
    color: white;
}

.alert-info > a {
    color: #0078d4;
}



.the-button{
    color: #3f3685;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px;
}


.tour-button{
    padding: 10px;
    font-weight: 1000;
    border-radius: 10px;
    color: #fff;
    background-color: #0078d4;
    border-color: #0078d4;
}


.tour-button:focus {
  outline: 3px solid orange;}

.logo{
  display:flex;
}



/* Section 4: Additional links */ 

.links-inner{
  display:flex;
  flex-direction:row;
  column-gap:20px;
  padding:15px;
}

@media (max-width: 800px) {
  .links-inner {
   flex-direction:column;
  }
}


@media (max-width: 800px) {
  .links-item > a {
   border-left-style:solid;
   padding-left:10px;
  }
}



@media (max-width: 800px) {
    .features-inner{
    display: flex;
    flex-direction: column;
  }
}



.navbar-header{
    background-color: #3f3685;
}




.links-item{
  display:flex;
  flex-direction:column;
  flex:1
}

.links-container{
  background-color:#3f3685;
  color:#d2cfeb;
}


.links-container nth-child a {
  color:#d2cfeb;
  padding:3px;
}


.links-container > a:hover {
  text-decoration: underline;
}






.bottom-links {
  display:flex;
  flex-direction:row;
  column-gap:20px;
}

.navbar-default:hover .navbar-nav>li>a:hover{
  color: white}



.middle-container{
  background-color:#f3f2f1
}
 

 
.middle-container-inner{
  display: flex;
  flex-direction:row;
}  


@media (max-width: 800px) {
.middle-container-inner {
    display: flex;
    flex-direction: column;
}
}



.small-card{
  background-color:white;
  padding:10px;
  margin:10px;
  flex: 1;
  
} 


.tour-button {
  appearance: none;
  background-color: #0078d4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.navbar-default .navbar-brand {
    background-color: white;
}

.tour-button:hover {
  background-color: #006eb8;
  text-decoration:none;
  color:white;
}

.btn-default {
    appearance: none;
  background-color: #0078d4;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}


.btn-default:hover {
  background-color: #0078d4;
}


.dataTables_scrollHead {
  background-color:purple;
  color:white;
}

.dataTables_scroll {
  border-style:solid;
  border-color:lightgray;
}


.features-button {
  flex:1
}



.search-item {
  flex:1;
  margin:5px;
}

.search-item > h4 {
  font-weight:600;
}


.drilldown-inner {
  display:flex;
  flex-direction:row;
}




.rt-search {align-self:flex-start;}


.rt-tr-details{
  padding: 24px;
  box-shadow: inset 0 1px 3px #dbdbdb;
  background: hsl(213, 20%, 99%);
}


.table-test th{
  border:thin solid black;
  background-color:purple;
  color:white;
  padding:3px;
  word-break: break-all;
  }
  
.table-test td{
  border:thin solid black;
  padding:3px;
  }

.spacer td{
border-style:none;}


.card-test{
  padding-bottom:7px;
}


.card-test h4{
  font-weight:bold;
}


.rt-td-inner{
  display:flex;
}


.test-class{
  margin-left:100px;
  margin-right:100px;
}


@media (max-width: 800px) {
.test-class{
  margin-left:20px;
  margin-right:10px;
}    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
    border-radius: 6px;}
    
    
 .card:hover{
   cursor: pointer;
    color: #fff;
    background-color: #5a5c60;
    text-decoration:none;
 
}   



.card:hover .text-center > h3{
  color:white;
  text-decoration:none;}
  
 
.card:hover .text-center > p{
  color:white;
  text-decoration:none;
}
  
 
    
.text-center {
    text-align: center!important;
    padding: 1rem;
}



.icon-box.icon-box--success {
    background: #def4ff;
    color: #3f3685;
}

.icon-box {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 15px auto 35px auto;
    margin-bottom:10px;
    background: #a6a6a6;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

}


a:focus {
  outline: 3px solid orange;
}


.text-muted {
    color: black
}



.button:focus {
  outline: 3px solid orange;}
  
.btn-default:focus {
    outline: 3px solid orange;
    color: white;
    background-color: #006eb8;
    border-style:none;
}
 
.btn-default:active {
   background-color: #006eb8;
    text-decoration: none;
    color: white;}
  

